.quantity{
    display:flex;
    width:160px;
 }
 
 /* it will support chrome and firefox */
 .quantity input[type=number]::-webkit-inner-spin-button,
 .quantity input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
 }
 
 .quantity input,.quantity button{
    width:2rem;
    padding:.5em;
    font-size:0.8rem;
    text-align:center;
    font-weight:900;
    background:white;
    border:1px solid #aaa;
 }
 
 .quantity input{
    border-left:none;
    border-right:none;
 }

 .bhHnmT{
   margin: 0;
 }